.carrusel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-shadow: 3px 1px 3px black;

  color: white;
}
.titulo-carrusel {
  width: 20rem;
  /*border: 1px solid green;*/
  margin-left: -2rem;
  margin-top: 0rem;
}
.carrusel-contenedor {
  width: 300vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transform: translateX(-000vw);
  animation: carrusel 18s steps(1) infinite;
}
.contenedor-pantalla {
  width: 100vw;
  /*max-width: 700px;*/
  height: 100%;
  position: relative;
  /*border: 1px solid black;*/
}
.carrusel-p1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  /*background: #f2ff00;
  background: radial-gradient(
    circle,
    rgba(242, 255, 0, 1) 0%,
    rgba(255, 85, 0, 1) 100%
  );*/
  background: #f2ff00;
  background: radial-gradient(
    circle,
    rgb(183, 192, 7) 0%,
    rgb(215, 78, 9) 100%
  );
  width: 100vw;
  height: 90vh;
}
.img-carruselp1 {
  width: 25rem;
  height: 25rem;
  right: -5rem;
  bottom: 0;
  position: absolute;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  /*border: 1px solid red;*/
  z-index: 0;
}

.info-carruselp1 {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  /*background-color: rgba(0, 0, 0, 0.2);*/
}

.text-p1 {
  /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}
.text-p1 > h2 {
  font-size: 1.9rem;
  font-weight: 700;
}
.text-p1 > h3 {
  font-size: 1.6rem;
  margin: 1rem 0 2.5rem 0;
  font-weight: 700;
}

.text-p1 > p {
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0 0.7rem;
  margin: 0.3rem 0;
}

.boton-carrusel {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  width: 10rem;
  height: 2.5rem;
  border-radius: 10px;
  box-shadow: 5px 0 10px black;
  cursor: pointer;
}

.boton-carrusel > p {
  font-size: 0.7rem;
  padding: 0 0.5rem;
  padding-left: 0.8rem;
  font-weight: 600;
}
.boton-carrusel > div {
  padding: 0 0.5rem;
  border-left: 2px solid white;
}
.boton-carrusel > div > svg {
  width: 27px;
  height: 27px;
}
.carrusel-p2 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(18, 27, 184, 1) 100%
  );
  width: 100vw;
  height: 90vh;
}
.img-carruselp2 {
  width: 35rem;
  height: 25rem;
  right: -10rem;
  bottom: -2rem;
  position: absolute;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  /*border: 1px solid red;*/
  z-index: 0;
}

.info-carruselp2 {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  /*background-color: rgba(0, 0, 0, 0.1)*/
}

.text-p2 {
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  /*border: 1px solid black;*/
}
.text-p2 > h2 {
  font-size: 2.5rem;
  font-weight: 800;
}
.text-p2 > h3 {
  font-size: 1.8rem;
}

.text-p2 > p {
  font-weight: bold;
  font-size: 1.4rem;
}
.text-p2 > p:first-of-type {
  margin-top: 1rem;
}
.text-p2 > p:last-of-type {
  margin-bottom: 2.5rem;
}
.carrusel-p3 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*background: #ffff00;*/
  /*background: radial-gradient(
    circle,
    rgba(255, 255, 0, 1) 0%,
    rgba(0, 255, 0, 1) 100%
  );*/
  background: #ffff00;
  background: radial-gradient(circle, rgb(222, 222, 7) 0%, rgb(3, 104, 3) 100%);
  width: 100vw;
  height: 90vh;
}
.img-carruselp3 {
  width: 20rem;
  height: 20rem;
  right: -2rem;
  bottom: 0;
  position: absolute;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  /*border: 1px solid red;*/
  z-index: 0;
}

.info-carruselp3 {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  text-shadow: 3px 1px 3px black;

  /*background-color: rgba(0, 0, 0, 0.2)*/
}

.text-p3 {
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  /*border: 1px solid black;*/
}

.text-p3 > h2 {
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: -1rem;
}
.text-p3 > img {
  width: 12rem;
  height: 5rem;
  margin-top: 1rem;
  margin-left: 0rem;
  cursor: pointer;
}

.text-p3 > p {
  width: 100%;
  font-weight: 800;
  font-size: 1.1rem;
  padding: 0 1rem;
}
.text-p3 > p:first-of-type {
  margin-top: 2rem;
}
.text-p3 > p:last-of-type {
  margin-top: 1rem;
  font-size: 1rem;
}

@keyframes carrusel {
  0% {
    transform: translateX(0);
  }
  33.333% {
    transform: translateX(-100vw);
  }
  66.666% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(-200vw);
  }
}

@media (min-width: 360px) {
  .text-p1 > h2 {
    font-size: 2rem;
  }
  .text-p1 > h3 {
    font-size: 1.8rem;
  }

  .text-p1 > p {
    font-size: 1.5rem;
  }
  .text-p2 > h2 {
    font-size: 2.6rem;
    font-weight: 800;
  }
  .text-p2 > h3 {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .text-p2 > p {
    font-weight: bold;
    font-size: 1.6rem;
  }
  .text-p2 > p:first-of-type {
    margin-top: 2.5rem;
  }
  .text-p2 > p:last-of-type {
    margin-bottom: 2.5rem;
  }
  .img-carruselp2 {
    width: 38rem;
    height: 28rem;
  }

  .text-p3 > h2 {
    font-size: 2.5rem;
  }

  .text-p3 > p {
    font-size: 1.2rem;
    padding: 0 1.1rem;
  }
  .text-p3 > p:first-of-type {
    margin-top: 2rem;
  }
  .text-p3 > p:last-of-type {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 375px) {
  .text-p1 > h3 {
    font-size: 1.8rem;
  }

  .text-p1 > p {
    font-size: 1.6rem;
  }
  .text-p2 > h2 {
    font-size: 3rem;
  }
  .text-p2 > h3 {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .text-p2 > p {
    font-size: 1.8rem;
  }
  .text-p2 > p:first-of-type {
    margin-top: 2.5rem;
  }
  .text-p2 > p:last-of-type {
    margin-bottom: 3rem;
  }
  .img-carruselp2 {
    width: 38rem;
    height: 28rem;
  }
  .text-p3 > h2 {
    font-size: 2.5rem;
  }

  .text-p3 > p {
    font-size: 1.3rem;
    padding: 0 1.1rem;
  }
  .text-p3 > p:first-of-type {
    margin-top: 2.5rem;
  }
  .text-p3 > p:last-of-type {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 390px) {
  .text-p1 > h2 {
    font-size: 2.2rem;
  }
  .text-p1 > h3 {
    font-size: 1.9rem;
    margin: 1rem 0 2.5rem 0;
  }

  .text-p1 > p {
    font-size: 1.6rem;
  }
  .img-carruselp1 {
    width: 28rem;
    height: 28rem;
    right: -5rem;
    bottom: 0;
  }
  .text-p2 > p {
    font-size: 1.8rem;
  }
  .text-p2 > p:first-of-type {
    margin-top: 2.5rem;
  }
  .text-p2 > p:last-of-type {
    margin-bottom: 2rem;
  }
  .img-carruselp2 {
    width: 40rem;
    height: 30rem;
  }
  .text-p3 > h2 {
    font-size: 2.5rem;
  }
  .text-p3 > img {
    width: 15rem;
    height: 8rem;
  }
  .text-p3 > h2 {
    font-size: 2.5rem;
  }

  .text-p3 > p {
    font-size: 1.3rem;
    padding: 0 1.1rem;
  }
  .text-p3 > p:first-of-type {
    margin-top: 2rem;
  }
  .text-p3 > p:last-of-type {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  .img-carruselp3 {
    width: 23rem;
    height: 23rem;
  }
}
@media (min-width: 430px) {
  .titulo-carrusel {
    width: 25rem;
  }
  .text-p1 > h2 {
    font-size: 2.3rem;
  }
  .text-p1 > h3 {
    font-size: 1.9rem;
  }

  .text-p1 > p {
    font-size: 1.6rem;
  }
  .img-carruselp1 {
    width: 30rem;
    height: 30rem;
  }
  .text-p2 > h2 {
    font-size: 3.2rem;
  }
  .text-p2 > h3 {
    font-size: 2.2rem;
    padding: 0 1rem;
  }

  .text-p2 > p {
    font-size: 2rem;
  }
  .text-p2 > p:first-of-type {
    margin-top: 2.5rem;
  }
  .text-p2 > p:last-of-type {
    margin-bottom: 2.5rem;
  }
  .img-carruselp2 {
    width: 45rem;
    height: 35rem;
  }
  .img-carruselp3 {
    width: 25rem;
    height: 25rem;
  }
}
@media (min-width: 436px) {
  .titulo-carrusel {
    width: 25rem;
  }

  .img-carruselp1 {
    width: 30rem;
    height: 30rem;
  }
  .text-p2 > h2 {
    font-size: 3.5rem;
  }

  .img-carruselp2 {
    width: 45rem;
    height: 35rem;
  }
  .img-carruselp3 {
    width: 25rem;
    height: 25rem;
  }
}
@media (min-width: 480px) {
  .text-p1 > h2 {
    font-size: 2.3rem;
  }
  .text-p1 > h3 {
    font-size: 2rem;
  }

  .text-p1 > p {
    font-size: 1.7rem;
  }
  .img-carruselp1 {
    width: 32rem;
    height: 32rem;
  }
  .text-p2 > h2 {
    font-size: 3.7rem;
  }
  .text-p2 > h3 {
    font-size: 2.3rem;
  }

  .text-p2 > p {
    font-size: 2.1rem;
  }
  .img-carruselp2 {
    width: 45rem;
    height: 35rem;
  }
}
@media (max-width: 678px) and (orientation: landscape) {
  .info-carruselp1 {
    background-color: rgba(0, 0, 0, 0);
  }
  .titulo-carrusel {
    width: 60%;
  }

  .img-carruselp1 {
    width: 25rem;
    height: 25rem;
  }

  .text-p1 {
    width: 80%;

    text-align: left;
  }
  .text-p1 > h2 {
    font-size: 160%;
    margin-top: -1.8rem;
  }
  .text-p1 > h3 {
    font-size: 140%;
    margin: 0rem 0 0rem 0;
  }

  .text-p1 > p {
    font-size: 115%;
    padding: 0 0.7rem;
    margin: 0rem 0;
  }
  .info-carruselp2 {
    background-color: rgba(0, 0, 0, 0);
  }
  .text-p2 {
    width: 80%;
    text-align: left;
  }
  .text-p2 > h2 {
    font-size: 170%;
    margin-left: 0.5rem;
  }
  .text-p2 > h2:first-of-type {
    margin-top: -2rem;
  }
  .text-p2 > p:first-of-type {
    margin-top: 0rem;
  }
  .text-p2 > p {
    font-size: 90%;
  }
  .text-p2 > p:last-of-type {
    margin-bottom: 0rem;
  }
  .text-p2 > h3 {
    width: 80%;
    font-size: 160%;
    margin: 0rem 1rem 0rem 1rem;
  }

  .text-p2 > p {
    font-size: 150%;
    padding: 0 2rem;
    margin: 0rem 0;
  }
  .img-carruselp2 {
    width: 35rem;
    height: 25rem;
  }
  .text-p3 {
    width: 80%;
    text-align: left;
  }
  .img-carruselp3 {
    width: 28rem;
    height: 18rem;
  }
  .text-p3 > h2 {
    font-size: 250%;
    margin: -2rem 1rem -2rem 1rem;
  }
  .text-p3 > img {
    display: none;
    width: 0rem;
    height: 0rem;
  }
  .text-p3 > p {
    font-size: 120%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .info-carruselp3 {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media (min-width: 679px) {
  .carrusel {
    width: 100%;
    min-height: 20rem;
    height: 20rem;
    max-height: 20rem;
  }
  .titulo-carrusel {
    width: 23rem;
    /*border: 1px solid green;*/
    margin-left: 0rem;
    margin-top: -1rem;
  }
  .carrusel-contenedor {
    max-width: 3000px;
    /*transform: translateX(-1000px);*/
    /*animation: carrusel 18s steps(1) infinite;*/
  }
  .contenedor-pantalla {
    width: 100%;
    max-width: 800px;
  }
  .carrusel-p1 {
    max-width: 1000px;
    background: #f2ff00;
    background: radial-gradient(
      circle,
      rgb(183, 192, 7) 0%,
      rgb(215, 78, 9) 100%
    );
  }
  .img-carruselp1 {
    width: 25rem;
    height: 25rem;
    right: -0rem;
    top: -4rem;
  }

  .info-carruselp1 {
    width: 100%;
    height: 100%;
    min-height: 20rem;

    padding-left: 1rem;
    background-color: rgba(0, 0, 0, 0);
  }

  .text-p1 {
    /*border: 1px solid black;*/
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top: -1.5rem;
  }
  .text-p1 > h2 {
    font-size: 1.7rem;
    padding: 0 1rem;
  }
  .text-p1 > h3 {
    font-size: 1.3rem;
    margin: 0rem 0 0rem 0;
  }

  .text-p1 > p {
    font-size: 1.1rem;
    padding: 0 0.7rem;
    margin: 0.3rem 0;
  }

  .boton-carrusel {
    right: 5.5rem;
    top: 16rem;
    height: 2.5rem;
    width: 10rem;
  }

  .boton-carrusel > p {
    font-size: 0.7rem;
    padding: 0.5rem;
    padding-left: 0.8rem;
    font-weight: 700;
  }

  .boton-carrusel > div > svg {
    width: 27px;
    height: 27px;
  }
  .carrusel-p2 {
    max-width: 1000px;
  }
  .img-carruselp2 {
    width: 33rem;
    height: 23rem;
    right: 0rem;
    top: 0rem;
  }

  .info-carruselp2 {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding-left: 3rem;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 3px 1px 3px black;
  }

  .text-p2 {
    width: 50%;
    text-align: center;
    margin-top: -2rem;
    /* border: 1px solid black;*/
  }
  .text-p2 > h2 {
    font-size: 2rem;
  }
  .text-p2 > h3 {
    font-size: 1.8rem;
  }

  .text-p2 > p {
    font-weight: bold;
    font-size: 1.4rem;
  }
  .text-p2 > p:first-of-type {
    margin-top: 0rem;
  }
  .text-p2 > p:last-of-type {
    margin-bottom: 0rem;
  }
  .carrusel-p3 {
    max-width: 1000px;
  }
  .img-carruselp3 {
    width: 20rem;
    height: 20rem;
    right: 4rem;
    top: 1rem;
  }

  .info-carruselp3 {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 3rem;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 3px 1px 3px black;
  }

  .text-p3 {
    width: 50%;
    /*border: 1px solid black;*/
  }

  .text-p3 > h2 {
    font-size: 2rem;
    margin-top: -2.5rem;
  }
  .text-p3 > img {
    width: 10rem;
    height: 4rem;
    margin-top: 0.5rem;
  }

  .text-p3 > p {
    width: 100%;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 0 1rem;
  }
  .text-p3 > p:first-of-type {
    margin-top: 0rem;
  }
  .text-p3 > p:last-of-type {
    margin-top: 0rem;
    font-size: 1rem;
  }
}

@media (min-width: 999px) {
  @keyframes carrusel {
    0% {
      transform: translateX(0);
    }
    33.333% {
      transform: translateX(-1000px);
    }
    66.666% {
      transform: translateX(-2000px);
    }
    100% {
      transform: translateX(-2000px);
    }
  }
}
@media (min-width: 1366px) {
  .carrusel {
    margin-bottom: 4rem;
  }
}
