.conocenos {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  color: black;
  /*text-shadow: 4px 0px 4px white;*/
  overflow: hidden;
  background-color: white;
}
.info-conocenos {
  position: relative;
  /*border: 1px solid green;*/
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0 3rem;

  line-height: 1.2;
}
.info-conocenos > h2 {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1.4rem;
}
.info-conocenos > h3 {
  margin-left: 1.5rem;
}
.info-conocenos > p > b {
  font-size: 1.3rem;
}

.info-conocenos > p {
  margin: 0.9rem;
  font-weight: 800;
  font-size: 0.8rem;
}

.img-conocenos {
  /*border: 1px solid red;*/
  position: absolute;
  z-index: 0;
  bottom: 0rem;
  right: -3rem;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20rem;
  height: 30rem;
}
@media (min-width: 360px) {
  .info-conocenos > h2 {
    font-size: 1.8rem;
  }
  .info-conocenos > h3 {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  .info-conocenos > p > b {
    font-size: 1.5rem;
  }

  .info-conocenos > p {
    margin: 0.9rem;
    font-weight: 800;
    font-size: 0.9rem;
  }
}
@media (min-width: 390px) {
  .info-conocenos > h2 {
    font-size: 1.9rem;
  }
  .info-conocenos > h3 {
    margin-left: 2rem;
    font-size: 1.6rem;
  }
  .info-conocenos > p > b {
    font-size: 1.7rem;
  }

  .info-conocenos > p {
    margin: 0.9rem;
    font-weight: 800;
    font-size: 1.1rem;
  }
  .img-conocenos {
    width: 24rem;
    height: 34rem;
  }
}
@media (max-width: 678px) and (orientation: landscape) {
  .info-conocenos {
    width: 80%;
  }
  .info-conocenos > h2 {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 180%;
  }
  .info-conocenos > h3 {
    margin-left: 0.5rem;
    font-size: 120%;
  }
  .info-conocenos > p > b {
    font-size: 180%;
  }

  .info-conocenos > p {
    margin: 0.5rem;
    font-weight: 800;
    font-size: 77%;
  }
  .img-conocenos {
    /*border: 1px solid red;*/

    bottom: -2rem;
    right: -3rem;

    background-position: bottom;
    width: 20rem;
    height: 30rem;
  }
}
@media (min-width: 679px) {
  .conocenos {
    position: relative;
    width: 100%;

    height: 100vh;
    max-height: 40rem;
    min-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /*text-shadow: 4px 0px 4px white;*/
    overflow: hidden;
    background-color: white;
  }
  .info-conocenos {
    /*border: 3px solid green;*/

    width: 75%;
    max-width: 800px;
    padding: 0 3rem;
    line-height: 1.2;
  }
  .info-conocenos > h2 {
    margin-top: 6rem;
    margin-left: 2rem;
    font-size: 2rem;
  }
  .info-conocenos > h3 {
    margin-left: 1.5rem;
    font-size: 2rem;
  }
  .info-conocenos > p > b {
    font-size: 2rem;
  }

  .info-conocenos > p {
    margin: 0.9rem;
    font-weight: 800;
    font-size: 1rem;
  }

  .img-conocenos {
    top: 7rem;
    right: -3rem;

    width: 25rem;
    height: 35rem;
  }
}
@media (min-width: 999px) {
  .info-conocenos {
    max-width: 700px;
    padding: 0 3rem;
  }
  .img-conocenos {
    top: 7rem;
    right: 3rem;
  }
}
@media (min-width: 1366px) {
  .info-conocenos > h2 {
    margin-top: 6rem;
    margin-left: 2rem;
    font-size: 2.2rem;
  }
  .info-conocenos > h3 {
    margin-left: 1.5rem;
    font-size: 2.2rem;
  }
  .info-conocenos > p > b {
    font-size: 2rem;
  }

  .info-conocenos > p {
    margin: 0.9rem;
    font-weight: 800;
    font-size: 1.2rem;
  }
}
