.info-hotel {
  text-align: left;
  padding-bottom: 1rem;
}
.info-hotel > h3 {
  font-size: 1.1rem;
  font-weight: 800;
}
.info-hotel > h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
}
.info-hotel > p {
  font-size: 0.9rem;
  font-weight: 700;
  text-align: left;
  margin: 1rem;
}

.info-hotel > ul {
  margin-left: 3rem;
  padding: 1rem 0;
}
.info-hotel > ul > li {
  font-size: 0.9rem;
  font-weight: 800;
  padding: 0rem 0;
}
.galeria-hotel {
  width: 100%;
  /*border: 1px solid blue;*/
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.galeria-hotel > img {
  width: 5rem;
  height: 12rem;
  object-fit: cover;
  object-position: center;
  margin-right: 0.5rem;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 8px 0px 15px black;
}
.galeria-hotel > img:hover {
  width: 80%;

  margin: 0rem 0.5rem;
}
