.inicio {
  overflow-x: hidden;
}
@media (min-width: 679px) {
  .inicio {
    width: 90vw;
    max-width: 1000px;
    margin-top: 4rem;
    background-color: white;
  }
}
@media (min-width: 999px) {
  .inicio {
    margin-top: 5rem;
  }
}
