.instalaciones {
  padding-left: 4rem;
  padding-right: 1rem;
  background-color: white;
}
.instalaciones > h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 679px) {
  .instalaciones {
    padding: 0 3rem;
  }
  .instalaciones > h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    padding-top: 6rem;
    padding-bottom: 0.5rem;
  }
}
