.servicios {
  position: relative;
  width: 100%;
  height: 100vh;
  /*border: 1px solid yellow;*/
  display: flex;
  align-items: center;
  flex-direction: column;
}
.servicios > h2 {
  font-size: 2rem;
  margin: 3rem;
}
.info-servicios {
  /*border: 1px solid black;*/
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2rem;
  margin-top: 0rem;
  margin-left: 3rem;
}
.tarjeta-servicios {
  /*border: 1px solid green;*/
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  width: 8rem;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.tarjeta-servicios > p {
  font-size: 0.7rem;
  font-weight: bold;
  text-shadow: 4px 0px 4px white;
}
.tarjeta-servicios > ul {
  width: 7rem;
  height: 1rem;
  position: absolute;
  top: 2rem;
  background-color: rgb(29, 3, 89);
  color: rgb(229, 225, 225);
  overflow: hidden;
  /*border: 1px solid black;*/
  cursor: pointer;
}
.tarjeta-servicios > ul > h4 {
  font-size: 0.6rem;
  padding-bottom: 1rem;
}
.tarjeta-servicios > ul > li {
  font-size: 0.6rem;
  text-align: left;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.tarjeta-servicios > ul:hover {
  width: 10rem;
  height: auto;
  z-index: 100;
}
.img-servicios {
  position: absolute;
  z-index: 0;
  top: 0;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*border: 1px solid red;*/
  width: 100%;
  height: 100%;
}
@media (min-width: 375px) {
  .servicios > h2 {
    margin-top: 3rem;
  }
  .tarjeta-servicios {
    height: 5rem;
  }
  .tarjeta-servicios > ul {
    top: 3rem;
  }
}
@media (min-width: 390px) {
  .servicios > h2 {
    margin-top: 2rem;
  }
  .servicios > h2 {
    font-size: 2.5rem;
    margin-top: 0rem;
  }
  .info-servicios {
    margin-top: 1rem;
  }
  .tarjeta-servicios {
    width: 8rem;
    height: 7rem;
  }
  .tarjeta-servicios > p {
    font-size: 0.8rem;
  }
  .tarjeta-servicios > ul {
    top: 5rem;
  }
  .tarjeta-servicios > ul > h4 {
    font-size: 0.6rem;
  }
  .tarjeta-servicios > ul > li {
    font-size: 0.7rem;
  }
  .tarjeta-servicios > ul:hover {
    width: 11rem;
  }
}

@media (min-width: 430px) {
  .servicios > h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .info-servicios {
    margin-top: 1rem;
  }
  .tarjeta-servicios {
    width: 9rem;
    height: 8rem;
  }
  .tarjeta-servicios > p {
    font-size: 0.9rem;
  }
  .tarjeta-servicios > ul {
    top: 6rem;
  }
  .tarjeta-servicios > ul > h4 {
    font-size: 0.7rem;
  }
  .tarjeta-servicios > ul > li {
    font-size: 0.8rem;
  }
  .tarjeta-servicios > ul:hover {
    width: 12rem;
  }
}
@media (min-width: 480px) {
  .servicios > h2 {
    margin-top: 0rem;
  }
}
@media (orientation: landscape) {
  .info-servicios {
    grid-template-columns: repeat(3, 1fr);
    margin-top: -2rem;
  }
  .tarjeta-servicios {
    width: 7rem;
    height: 4.5rem;
  }
  .tarjeta-servicios > p {
    font-size: 70%;
  }
  .tarjeta-servicios > ul {
    width: 6rem;

    top: 3rem;
  }

  .tarjeta-servicios > ul > li {
    font-size: 70%;
  }
}
