.servicios {
  position: relative;
  width: 100%;
  height: 100vh;
  /*border: 1px solid yellow;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  user-select: none;
}
.servicios > h2 {
  font-size: 2.2rem;
  margin: 3rem;
}
.info-servicios {
  /*border: 1px solid black;*/
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2rem;
  margin-top: 0rem;
  margin-left: 3rem;
}
.tarjeta-servicios {
  /*border: 1px solid green;*/
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  width: 8rem;
  height: 4.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.tarjeta-servicios > p {
  font-size: 0.7rem;
  font-weight: 800;
  text-shadow: 4px 0px 4px white;
  margin-top: 0.5rem;
}
.tarjeta-servicios > ul {
  width: 7rem;
  height: 1rem;
  position: absolute;
  top: 3rem;
  background-color: rgb(29, 3, 89);
  color: rgb(229, 225, 225);
  overflow: hidden;
  /*border: 1px solid black;*/
  cursor: pointer;
}
.tarjeta-servicios > ul > h4 {
  font-size: 0.6rem;
  padding-bottom: 1rem;
  user-select: none;
}
.tarjeta-servicios > ul > li {
  font-size: 0.6rem;
  text-align: left;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.tarjeta-servicios > ul:hover {
  width: 8rem;
  height: auto;
  z-index: 100;
}
.img-servicios {
  position: absolute;
  z-index: 0;
  top: 0;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*border: 1px solid red;*/
  width: 100%;
  height: 100%;
}
@media (min-width: 360px) {
  .servicios > h2 {
    margin-top: 3rem;
  }
  .tarjeta-servicios {
    height: 5rem;
  }
  .tarjeta-servicios > ul {
    top: 3rem;
  }
  .tarjeta-servicios > p {
    font-size: 0.8rem;
  }

  .tarjeta-servicios > ul > h4 {
    font-size: 0.7rem;
  }
  .tarjeta-servicios > ul > li {
    font-size: 0.7rem;
  }
  .tarjeta-servicios > ul:hover {
    width: 9rem;
  }
}
@media (min-width: 390px) {
  .servicios > h2 {
    font-size: 2.5rem;
    margin-top: 4rem;
  }
  .info-servicios {
    margin-top: 1rem;
  }
  .tarjeta-servicios {
    width: 8rem;
    height: 7rem;
  }
  .tarjeta-servicios > p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  .tarjeta-servicios > ul {
    top: 5rem;
  }
  .tarjeta-servicios > ul > h4 {
    font-size: 0.8rem;
  }
  .tarjeta-servicios > ul > li {
    font-size: 0.8rem;
  }
  .tarjeta-servicios > ul:hover {
    width: 11rem;
  }
}

@media (min-width: 430px) {
  .servicios > h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .info-servicios {
    margin-top: 1rem;
  }
  .tarjeta-servicios {
    width: 9rem;
    height: 8rem;
  }
  .tarjeta-servicios > p {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
  .tarjeta-servicios > ul {
    top: 6rem;
  }
  .tarjeta-servicios > ul > h4 {
    font-size: 0.9rem;
  }
  .tarjeta-servicios > ul > li {
    font-size: 0.9rem;
  }
  .tarjeta-servicios > ul:hover {
    width: 12rem;
  }
}
@media (min-width: 480px) {
  .servicios > h2 {
    margin-top: 1rem;
  }
}
@media (max-width: 678px) and (orientation: landscape) {
  .servicios > h2 {
    margin-bottom: 1rem;
  }
  .info-servicios {
    grid-template-columns: repeat(3, 1fr);
    margin-top: -3%;
  }
  .tarjeta-servicios {
    width: 98%;
    height: 100%;
    margin-bottom: 3rem;
  }
  .tarjeta-servicios > p {
    font-size: 75%;
    margin-top: 0.5rem;
  }
  .tarjeta-servicios > ul {
    width: 6rem;

    top: 3rem;
  }
  .tarjeta-servicios > ul > h4 {
    font-size: 70%;
  }
  .tarjeta-servicios > ul > li {
    font-size: 70%;
  }
}
@media (min-width: 679px) {
  .servicios {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 45rem;
    min-height: 45rem;
    padding-top: 6rem;
  }
  .servicios > h2 {
    font-size: 2.5rem;
  }
  .info-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.2rem;
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .tarjeta-servicios {
    width: 12rem;
    height: 6rem;
  }
  .tarjeta-servicios > p {
    font-size: 1rem;
    font-weight: 800;
    text-shadow: 4px 0px 4px white;
    margin-top: 1rem;
  }
  .tarjeta-servicios > ul {
    width: 9rem;
    height: 1.3rem;

    top: 4rem;
  }
  .tarjeta-servicios > ul > h4 {
    font-size: 0.8rem;
  }
  .tarjeta-servicios > ul > li {
    font-size: 0.7rem;
  }
  .tarjeta-servicios > ul:hover {
    width: 10rem;
  }
  .img-servicios {
    position: absolute;
    z-index: 0;
    top: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*border: 1px solid red;*/
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1366px) {
  .tarjeta-servicios {
    width: 14rem;
    height: 8rem;
  }
  .tarjeta-servicios > p {
    font-size: 1.2rem;
    font-weight: 800;
    text-shadow: 4px 0px 4px white;
    margin-top: 1rem;
  }
  .tarjeta-servicios > ul {
    width: 11rem;
    height: 1.5rem;

    top: 5.5rem;
  }
  .tarjeta-servicios > ul > h4 {
    font-size: 1rem;
  }
  .tarjeta-servicios > ul > li {
    font-size: 1rem;
  }
  .tarjeta-servicios > ul:hover {
    width: 16rem;
  }
}
