.info-sucursal {
  text-align: left;
}
.info-sucursal > h3 {
  font-size: 1.1rem;
  font-weight: 800;
}
.info-sucursal > h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
}
.info-sucursal > p {
  font-size: 0.9rem;
  /*line-height: 1.2;*/
  font-weight: 800;
  margin: 1rem;
  text-align: left;
}
.info-sucursal > p > b {
  font-size: 1.5rem;
}
.info-sucursal > ul {
  margin-left: 3rem;
}
.info-sucursal > ul > li {
  font-size: 0.9rem;
  font-weight: 800;
  padding: 0rem 0;
}
.galeria-sucursal {
  width: 100%;
  /*border: 1px solid blue;*/
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.galeria-sucursal > img {
  width: 5.2rem;
  height: 12rem;
  object-fit: cover;
  object-position: center;
  margin-right: 0.5rem;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 8px 0px 15px black;
}
.galeria-sucursal > img:hover {
  width: 70%;

  margin: 0rem 0.3rem;
}

.boton-cita {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  width: 10rem;
  height: 2.5rem;
  margin: 1rem;
  margin-left: 4rem;
  border-radius: 10px;
  box-shadow: 5px 0 10px black;
  cursor: pointer;
}
.boton-cita > p {
  padding: 0 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.boton-cita > div {
  padding: 0 0.5rem;

  border-left: 2px solid white;
}
.boton-cita > div > svg {
  width: 27px;
  height: 27px;
}
@media (min-width: 360px) {
  .galeria-sucursal > img {
    width: 5.3rem;
  }
  .galeria-hotel > img {
    width: 5.3rem;
  }
  .boton-cita {
    margin-left: 6rem;
  }
}
@media (min-width: 375px) {
  .info-sucursal > h3 {
    font-size: 1.3rem;
  }
  .info-sucursal > h4 {
    font-size: 1.2rem;
  }
  .info-sucursal > p {
    font-size: 1rem;
  }

  .info-sucursal > ul > li {
    font-size: 1rem;
  }
  .info-hotel > h3 {
    font-size: 1.3rem;
  }
  .info-hotel > h4 {
    font-size: 1.2rem;
  }
  .info-hotel > p {
    font-size: 1rem;
  }

  .info-hotel > ul > li {
    font-size: 1rem;
  }
  .galeria-sucursal > img {
    width: 5.6rem;
  }
  .galeria-hotel > img {
    width: 5.6rem;
  }
}
@media (min-width: 390px) {
  .instalaciones > h2 {
    font-size: 2rem;
  }
  .info-sucursal > h3 {
    font-size: 1.5rem;
  }
  .info-sucursal > h4 {
    font-size: 1.4rem;
  }
  .info-sucursal > p {
    font-size: 1.1rem;
  }
  .info-sucursal > p > b {
    font-size: 2rem;
  }

  .info-sucursal > ul > li {
    font-size: 1.1rem;
  }

  .galeria-sucursal > img {
    width: 7rem;
  }
  .info-hotel > h3 {
    font-size: 1.5rem;
  }
  .info-hotel > h4 {
    font-size: 1.4rem;
  }
  .info-hotel > p {
    font-size: 1.1rem;
  }
  .info-hotel > p > b {
    font-size: 2rem;
  }

  .info-hotel > ul > li {
    font-size: 1.1rem;
  }

  .galeria-hotel > img {
    width: 7rem;
  }
  .boton-cita {
    margin-left: 7rem;
  }
}
@media (min-width: 430px) {
  .instalaciones > h2 {
    font-size: 2.5rem;
  }
  .info-sucursal > h3 {
    font-size: 1.8rem;
  }
  .info-sucursal > h4 {
    font-size: 1.6rem;
  }
  .info-sucursal > p {
    font-size: 1.3rem;
  }
  .info-sucursal > p > b {
    font-size: 2.2rem;
  }

  .info-sucursal > ul > li {
    font-size: 1.3rem;
  }

  .galeria-sucursal > img {
    width: 7.2rem;
  }
  .info-hotel > h3 {
    font-size: 1.8rem;
  }
  .info-hotel > h4 {
    font-size: 1.6rem;
  }
  .info-hotel > p {
    font-size: 1.3rem;
  }
  .info-hotel > p > b {
    font-size: 2.2rem;
  }

  .info-hotel > ul > li {
    font-size: 1.3rem;
  }

  .galeria-hotel > img {
    width: 7.2rem;
  }
  .boton-cita {
    margin-left: 10rem;
  }
}
@media (min-width: 480px) {
  .galeria-sucursal > img {
    width: 4rem;
  }
  .galeria-hotel > img {
    width: 4rem;
  }
  .galeria-sucursal > img:hover {
    width: 85%;
  }
}
@media (max-width: 720px) and (orientation: landscape) {
  .galeria-sucursal > img {
    width: 5.5rem;
  }
  .galeria-hotel > img {
    width: 5.5rem;
  }
  .boton-cita {
    margin-left: 60%;
  }
}
@media (min-width: 679px) {
  .sucursal {
    max-width: 800px;
  }
  .hotel {
    max-width: 800px;
  }
  .info-sucursal {
    text-align: left;
  }
  .info-sucursal > h3 {
    font-size: 1.8rem;

    padding: 0 1.5rem;
  }
  .info-sucursal > h4 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .info-sucursal > p {
    font-size: 1.2rem;

    font-weight: 700;
    padding: 0 2rem;
  }
  .info-sucursal > p > b {
    font-size: 1.6rem;
  }
  .info-sucursal > ul {
    margin-left: 3rem;
  }
  .info-sucursal > ul > li {
    font-size: 1rem;

    margin: 0rem 2rem;
  }
  .galeria-sucursal {
    width: 100%;
    /*border: 1px solid blue;*/
  }
  .galeria-sucursal > img {
    width: 4.5rem;
    height: 12rem;
    margin: 0 0.3rem;
  }
  .galeria-sucursal > img:hover {
    width: 40%;
    margin: 0rem 0.3rem;
  }

  .boton-cita {
    width: 9rem;
    height: 2.5rem;
    margin: 1rem;
    margin-left: 20rem;
    border-radius: 10px;
  }
  .boton-cita > p {
    padding: 0 0.3rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  .boton-cita > div {
    padding: 0 0.3rem;

    border-left: 2px solid white;
  }
  .boton-cita > div > svg {
    width: 30px;
    height: 30px;
    padding: 0px;
  }
  .info-hotel {
    text-align: left;
  }
  .info-hotel > h3 {
    font-size: 1.8rem;

    padding: 0 1.5rem;
  }
  .info-hotel > h4 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .info-hotel > p {
    font-size: 1.2rem;

    font-weight: 700;
    padding: 0 2rem;
  }
  .info-hotel > p > b {
    font-size: 1.6rem;
  }
  .info-hotel > ul {
    margin-left: 3rem;
  }
  .info-hotel > ul > li {
    font-size: 1rem;

    margin: 0rem 2rem;
  }
  .galeria-hotel {
    width: 100%;
    /*border: 1px solid blue;*/
  }
  .galeria-hotel > img {
    width: 4.5rem;
    height: 12rem;
    margin: 0 0.3rem;
  }
  .galeria-hotel > img:hover {
    width: 40%;
    margin: 0rem 0.3rem;
  }
}
