:root {
  --colorfondo: white;
  --colorfuente: black;
  --fuente: "Sora", sans-serif;
  /*--fuente: "Revalia", sans-serif;*/
  --sombrafuente: 0 0 3px #fff, 0 0 5px #4510e2, 0 0 15px #4510e2;
  --fondocolor-nav: rgba(11, 11, 245, 0.7);
  --fuente-frase: "Mynerve", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  background-color: var(--colorfondo);
  color: var(--colorfuente);
  font-family: var(--fuente);
}
.app {
  position: relative;
}
@media (min-width: 679px) {
  #root {
    background-color: rgb(6, 6, 55);
  }
  .app {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
